:root {
  --primery-text-color:#212121;
  --secondary-text-color:#757575;
  --white-text:#ffffff;
  --blu-color:#2196f3;
  --black-color:#000000;
  --buttom-filtre-color: #f5f4fa;
  --buttom-color-focus:#188ce8;
  --primery-fons-color:#ffffff;
  --secondary-fons-color:#2f303a;
  --border-color:#ececec;
  --icon-color:#afb1b8;
  --contacts-footer-color:rgba(255, 255, 255, 0.6);
  --color-portfolio-overlay: rgba(33, 150, 243, 0.9);
  --color-modal-overlay:rgba(0, 0, 0, 0.2);
  --font-family: "Raleway";
  --font-family: "Roboto";
  --card-set-gap: 30px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  height: 100%;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
  min-height: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--primery-fons-color);
}
@media (min-width: 780px) {
  body {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 481px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-padding {
  padding-top: 0;
}

.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.title {
  font-weight: 900;
  margin: 0 auto 100px;
  margin-bottom: var(--card-set-gap);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  font-size: 26px;
  line-height: 1.61;
}
@media (min-width: 480px) {
  .title {
    width: 360px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.checkbox, .checkbox__control, .modal__close-button, .customers__linc, .team__social-linc, .picture__overlay, .benefits-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
  background-color: var(--primery-fons-color);
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}
@media (min-width: 768px) {
  .header {
    position: fixed;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .header__inner {
    height: 60px;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  display: none;
  background-color: var(--primery-fons-color);
  padding: 48px 40px;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}
@media (min-width: 480px) {
  .menu-container {
    width: 480px;
  }
}
.menu-container.is-open {
  display: block;
}
.menu-container .is-open.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobail-menu__linc {
  font-size: 40px;
  line-height: 1.175;
  color: var(--primery-text-color);
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
}
.mobail-menu__linc:focus, .mobail-menu__linc:hover {
  color: var(--blu-color);
}
.mobail-menu__item {
  margin-bottom: 32px;
}
.mobail-menu__item:last-child {
  margin-bottom: 306px;
}

.mobail-contacts__item {
  margin-bottom: 32px;
}

.mobail-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobail-contacts__linc {
  font-size: 24px;
  line-height: 1.16;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
}
.mobail-contacts__linc:focus, .mobail-contacts__linc:hover {
  color: var(--blu-color);
}
.mobail-contacts__linc--large {
  line-height: 1.176;
}
@media (min-width: 377px) {
  .mobail-contacts__linc--large {
    font-size: 34px;
  }
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-social__item {
  margin-right: 20px;
}
.menu-social__item:last-child {
  margin-right: 0;
}
.menu-social__name {
  font-size: 18px;
  line-height: 1.22;
  color: var(--blu-color);
  position: relative;
}
.menu-social__list {
  position: relative;
}
.menu-social__name.line::after {
  content: "";
  width: 1px;
  height: 22px;
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  position: absolute;
  left: calc(100% + 10px);
  bottom: 0;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--blu-color);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--accent {
  color: var(--black-color);
}
.logo--footer {
  color: var(--white-text);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__desktop {
  display: none;
}
@media (min-width: 768px) {
  .menu__desktop {
    display: block;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media (min-width: 768px) {
  .menu__list {
    margin-left: 88px;
    margin-right: 90px;
  }
}
@media (min-width: 1199px) {
  .menu__list {
    margin-left: 92px;
  }
}
.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__linc {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__linc:focus, .menu__linc:hover {
  color: var(--blu-color);
}
.menu__linc--active {
  color: var(--blu-color);
  position: relative;
}
.menu__linc--active::after {
  content: "";
  height: 4px;
  width: 100%;
  display: block;
  background-color: var(--blu-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  .menu__linc--active::after {
    display: none;
  }
}

.contacts {
  width: 100%;
}
@media (max-width: 768px) {
  .contacts {
    display: none;
  }
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 768px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1199px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 768px) {
  .contacts__item {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .contacts__item__item:last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 1199px) {
  .contacts__item {
    margin-right: 30px;
  }
  .contacts__item__item:last-child {
    margin-right: 0px;
  }
}
.contacts__linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
}
.contacts__linc:focus, .contacts__linc:hover {
  color: var(--blu-color);
}
.contacts__icon {
  max-width: 16px;
  margin-right: 10px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.contacts__linc:focus .contacts__icon, .contacts__linc:hover .contacts__icon {
  fill: var(--blu-color);
}
.contacts__icon--phone {
  max-width: 10px;
}

.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.main-button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--blu-color);
  color: var(--white-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier);
}
.main-button:hover, .main-button:focus {
  background-color: var(--buttom-color-focus);
}

.filter-button {
  padding: 6px 22px;
  min-width: 100%;
  border: transparent;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--buttom-filtre-color);
  -webkit-transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}
.filter-button:hover, .filter-button:focus {
  background-color: var(--blu-color);
  color: var(--white-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form__button {
  text-align: center;
  margin-bottom: 40px;
}

.herou-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-fons-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .herou-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .herou-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .herou-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-tablet@2x.jpg");
  }
}
@media (min-width: 1199px) {
  .herou-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/heder.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heder.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1199px) and (min-resolution: 2dppx) {
  .herou-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/heder@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/heder@2x.jpg");
  }
}

@media (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -57px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .benefits__item {
    margin-top: 57px;
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc(25% - var(--card-set-gap));
        flex-basis: calc(25% - var(--card-set-gap));
    margin-top: 30px;
    margin-left: 30px;
    width: auto;
  }
}

.benefits-inner {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--buttom-filtre-color);
  border-radius: 4%;
  margin-bottom: var(--card-set-gap);
  height: 120px;
}
@media screen and (min-width: 481px) {
  .benefits-inner {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-inner {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-inner {
    width: 270px;
  }
}
.benefits-inner__title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-text-color);
}
.benefits-inner__text {
  padding: 0;
  margin: 0;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

@media (max-width: 1199px) {
  .section-picture {
    display: none;
  }
}

.picture__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.picture__item {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
      flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  position: relative;
}
.picture__text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
}
.picture__overlay {
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
}

.team {
  background-color: var(--buttom-filtre-color);
}

@media (min-width: 768px) {
  .team__list {
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    margin-top: 50px;
    margin-left: -30px;
  }
}

@media (max-width: 768px) {
  .team__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
}

.team__item {
  border: 0;
  background-color: var(--primery-fons-color);
  -ms-flex-preferred-size: calc(25% - var(--card-set-gap));
      flex-basis: calc(25% - var(--card-set-gap));
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-left: var(--card-set-gap);
  }
}

.team__card {
  text-align: center;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primery-text-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team__container-social {
  padding-left: var(--card-set-gap);
  padding-right: var(--card-set-gap);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin-left: 10px;
}

.team__social-linc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier);
}
.team__social-linc:focus, .team__social-linc:hover {
  background-color: var(--blu-color);
}

.team__social-icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.team__social-linc:hover .team__social-icon, .team__social-linc:focus .team__social-icon {
  fill: var(--white-text);
}

.customers__list {
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .customers__list {
    margin-left: -30px;
  }
}
@media screen and (min-width: 1199px) {
  .customers__list {
    margin-top: 50px;
  }
}
.customers__item {
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    -ms-flex-preferred-size: calc(16.6666666667% - var(--card-set-gap));
        flex-basis: calc(16.6666666667% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
.customers__linc {
  border: 1px solid var(--icon-color);
  border-radius: 4%;
  width: 210px;
  height: 92px;
  -webkit-transition: border 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .customers__linc {
    width: 170px;
    height: 92px;
  }
}
.customers__linc:hover, .customers__linc:focus {
  border: 1px solid var(--blu-color);
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.customers__linc:hover .customers__icon, .customers__linc:focus .customers__icon {
  fill: var(--blu-color);
}

.portfolio-cection {
  padding-top: 83px;
  padding-bottom: 99px;
}

.portfolio__list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .portfolio__list-button {
    max-width: 350px;
  }
}
@media (min-width: 767px) {
  .portfolio__list-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 1199px) {
  .portfolio__list-button {
    margin-bottom: 50px;
  }
}

.portfolio__item-button:not(:first-child) {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .card-set__list {
    margin-top: -30px;
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-set__item {
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card-set__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .card-set__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
        flex-basis: calc(50% - var(--card-set-gap));
  }
}
@media (min-width: 1199px) {
  .card-set__item {
    -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
        flex-basis: calc(33.3333333333% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.product {
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.product:hover, .product:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.product__description {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.product-tumb {
  position: relative;
  overflow: hidden;
}
.product__titlt {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.product__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.portfolio__section-overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-portfolio-overlay);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}
.product-tumb:hover .portfolio__section-overlay, .product-tumb:focus .portfolio__section-overlay {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio__overlay {
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text);
  -webkit-transition: opacity 250ms var(--cubic-bezier) 250ms;
  transition: opacity 250ms var(--cubic-bezier) 250ms;
}
.product:hover .portfolio__overlay, .product:focus .portfolio__overlay {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.footer-nav__list {
  min-width: 231px;
  margin-top: 20px;
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-nav__linc {
  color: var(--contacts-footer-color);
  -webkit-transition: color 250ms var(--cubic-bezier);
  transition: color 250ms var(--cubic-bezier);
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.footer-nav__linc:hover, .footer-nav__linc:focus {
  color: var(--blu-color);
}
.footer-nav__linc--address {
  color: var(--white-text);
}

.footer {
  background-color: var(--secondary-fons-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__container {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer__container {
    margin-right: 165px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    margin-right: 70px;
  }
}
.footer__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer__title {
    margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer__title {
    margin-top: 5px;
  }
}
@media (min-width: 1199px) {
  .footer__title {
    text-align: start;
  }
}
@media (min-width: 768px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer__box {
    margin-bottom: 60px;
  }
}

.footer__social-item {
  -ms-flex-preferred-size: calc(25% - 10px);
      flex-basis: calc(25% - 10px);
  max-width: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--cubic-bezier), fborder-radius 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), fborder-radius 250ms var(--cubic-bezier);
}
.footer__social-item:hover {
  background-color: var(--blu-color);
  border-radius: 50%;
}
.footer__social-linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}
.footer__social-linc:focus {
  background-color: var(--blu-color);
  border-radius: 50%;
}
.footer__social-icon {
  max-width: 44px;
  fill: var(--white-text);
}

.footer-form {
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}
.footer-form__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .footer-form__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .footer-form__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer-form__input {
  max-width: 100%;
  padding: 0 16px 0 16px;
  min-height: 50px;
  background-color: var(--secondary-fons-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier);
}
@media (max-width: 480px) {
  .footer-form__input {
    min-width: 100%;
  }
}
@media (min-width: 480px) {
  .footer-form__input {
    min-width: 450px;
  }
}
@media (min-width: 1199px) {
  .footer-form__input {
    min-width: 358px;
  }
}
.footer-form__input:hover, .footer-form__input:focus {
  border: 1px solid var(--blu-color);
}

.footer-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 109px;
  margin-left: 12px;
  position: relative;
  padding: 10px 28px 10px 29px;
  width: 200px;
  display: flex;
}
@media (max-width: 1200px) {
  .footer-form-button {
    margin-top: 20px;
  }
}
.footer-form-button__icon {
  fill: var(--white-text);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-overlay);
  z-index: 20;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--primery-fons-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}
@media (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media (min-width: 479px) and (max-width: 1200px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__close-button {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text);
  width: var(--card-set-gap);
  height: var(--card-set-gap);
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__icon-close {
  color: var(--black-color);
  width: 18px;
  height: 18px;
}
.modal__inner {
  margin: 40px;
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-fild {
  margin-bottom: 10px;
}
.form-fild__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form-fild__inner {
  position: relative;
}
.form-fild__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  padding-left: 46px;
  -webkit-transition: border 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier);
}
.form-fild__input:hover, .form-fild__input:focus {
  border: 1px solid var(--blu-color);
}
.form-fild__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}
.form-fild__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-fild__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-fild__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-fild__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-fild__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-fild__input:hover + .checkbox__icon, .form-fild__inputt:focus + .checkbox__icon {
  fill: var(--blu-color);
}
.form-fild__comment {
  margin-bottom: 20px;
}
.form-fild__texterea {
  padding-left: 12px;
}

.checkbox {
  margin-bottom: var(--card-set-gap);
}
.checkbox__imput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox__control {
  width: 16px;
  height: 15px;
  background-color: var(--primery-text-color);
  margin-right: 8.5px;
  border-radius: 4px;
}
.checkbox__imput:checked + .checkbox__icon {
  background-color: var(--blu-color);
  background-origin: border-box;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid var(--blu-color);
}
.checkbox__icon {
  background-color: var(--primery-fons-color);
  width: 11px;
  height: 11px;
  fill: var(--primery-fons-color);
  background-origin: border-box;
}
.checkbox__text {
  color: var(--secondary-text-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
@media (max-width: 1199px) {
  .checkbox__text {
    line-height: 1.16;
    font-size: 12px;
  }
}
.checkbox__link {
  text-decoration: underline;
  color: var(--blu-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
@media (max-width: 1199px) {
  .checkbox__link {
    line-height: 1.16;
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.min.css.map *//*# sourceMappingURL=main.css.map */