.portfolio-cection {
  padding-top: 120px;
    padding-bottom: 60px;

    @media(min-width: 768px){
      padding-top: 60px; 
    }
  @media(min-width: 1199px){
    padding-top: 83px;
    padding-bottom: 99px;}
  }
  .portfolio__list-button {


    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
   

    @media(max-width: 767px){
      max-width: 350px;
      margin-top: -15px;

    }

    @media(min-width: 767px){
      justify-content: center;
      margin-bottom: 30px;
    }
    @media(min-width: 1199px){
      margin-bottom: 50px;
    }
  }
  
  
  .portfolio__item-button:not(:first-child){
    margin-left: 8px;
  }

  .portfolio__item-button{
    @media(max-width: 767px){
      margin-top: 15px;
    }
  }