:root {
    --primery-text-color:#212121;
    --secondary-text-color:#757575;
    --white-text:#ffffff;
    --blu-color:#2196f3;
    --black-color:#000000;
    --buttom-filtre-color: #f5f4fa;
    --buttom-color-focus:#188ce8;
    --primery-fons-color:#ffffff;
    --secondary-fons-color:#2f303a;
    --border-color:#ececec;
    --icon-color:#afb1b8;
    --contacts-footer-color:rgba(255, 255, 255, 0.6);
    --color-portfolio-overlay: rgba(33, 150, 243, 0.9);
    --color-modal-overlay:rgba(0, 0, 0, 0.2);
    --font-family: "Raleway";
    --font-family: "Roboto";
    --card-set-gap: 30px;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  }